table.analyticsTable {
	width: 60%;
	margin-left: 10px;
	text-align: right;
	padding-left: 10px;
}

td.analyticsTable {
	margin-left: 10px;
	text-align: right;
	padding-left: 10px;
}
th {
	padding-top: 10pt;
	padding-bottom: 10pt;
}

.h {
	text-align: left;
	width: 100%;
}

.head {
	border-bottom: dashed black;
	width: 100%;
}

.comp {
	text-align: left;
	padding-left: 20px;
	padding-bottom: 5px;
	border: 1px solid black;
	width: 60%;
	border-radius: 10px;
	margin-left: 10px;
}
.name {
	text-align: left;
	padding-left: 0px;
	padding-bottom: 5px;
}
.b1 {
  text-align: right;
  padding-right: 0px;
}
.b2 {
	text-align: left;
	padding-left: 0px;
}
.tab-btns {
	border-radius: 2px;
	width: 40px;
	color: black;
	background-color: white;
}

.matchdata {
	width: 120px;
	height: 27px;
	border-radius: 2px;
	background-color: white;
	position: absolute;
	right: 40%;
}

.header {
	width: 60%;
	margin-left: 0px;
	text-align: left;
	padding-left: 0px;
}

/*sticky team page header*/
.sticky {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}
.teamPageHeader {
	opacity: 1;
	z-index: 1;
	padding: 5px;
	font-size: 15pt;
	background-color: #282c34;
	border: solid #FFF;
	border-width: 0px;
	border-bottom-width: 2px;
}

.analytics-section {
	padding-bottom: 10px;
}
