/*For the entire website*/
body {
  background-color: #282c34;
  color: white;
}

/*Link styling*/
a {
  color: #61dafb;
}

li{
  float:left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/*Button styling*/
.increment-button {
  background-color: #bb33dd;
}
.btn-inactive {
  background-color: gray;
  color: darkgray;
}
.btn-active {
  background-color: darkgreen;
  color: white;
}

.active {
  background-color: #054A05;
}
