/*For the entire website*/
body {

  background-color: #282c34;
  color: white;
}

/*Link styling*/
a {
  color: #61dafb;
}

/*Button styling*/
.increment-button {
  background-color: #bb33dd;
}
.btn-inactive {
  background-color: gray;
  color: darkgray;
}

.btn-active {
  background-color: green;
  color: white;
}

/* Start of Calloway's CSS */
.header {
  padding: 10px 16px;
  background: #008000;
  color: #f1f1f1;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
