.overall-table {
  font-family: sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  align: center;
}

td.overall-data, th.overall-data {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 150px;
}
